.profile{
    display: flex;
    align-items: center;
    padding: 0 50px 0 0;
}
.avatar {
    margin: 0 25px 0 50px;
}
.status {
    border-right: 1px solid #e5e5e5;
    width: 300px;
    color: #667a90;
    font-size: 20px;
}
.status h4 {
    margin: 0;
}
.status p {
    font-size: 13px;
    margin-top: 5px;
}
.status h4 img {
    padding: 0 5px;
}
.stats {
    display: inline;
    color: #4d75a3;
    width: 40%;
    text-align: center;
}
.statsUser {
    display: flex;
    justify-content: space-around;
    margin: 5px 0;
    padding: 0 30px;
}
.statsUser li {
    display: inline-block;
    width: 75px;
}
.statsUser:first-child a {
    color: #4d75a3;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}
.statsUser:last-child {
    font-size: 12px;
    color: #667a90;
}
.buttons {
    margin-left: auto;
}
.buttons button {
    border-radius: 5px;
    border: 2px solid #4d75a3;
    float: right;
    height: 48px;
    width: 185px;
    clear: right;
    font-size: 14px;
    font-weight: bold;
}
.buttonSend {
    background: #4d75a3;
    color: white;
    margin-bottom: 5px;
}
.buttonAdd {
    background: white;
    color: #4d75a3;
    margin-top: 5px;
}
