.activ-cont {
    display: flex;
    margin: 0;
    font-size: 14pt;
    height: 75px;
    align-items: center;
}
.af-settings {
    margin-left: auto;
    margin-right: 20px;
}
.af-name {
    display: inline;
    padding: 0 20px;
    width: 100%;
}
.activ-foot {
    display: flex;
    background: #ebf4fa;
    height: 50px;
    border-radius: 0 0 8px 8px;
    align-items: center;
    justify-content: center;
    font-size: 12pt;
}
.activ-foot a {
    text-decoration: none;
    color: #7595b9;
}
.lineStyle {
    padding: 10px 0;
}
.line{
    display: flex;
    width: 1px;
    background-color: #e0e0e0;
}
.lineFirst {
    height: 80px;
    margin-top: -80px;
    margin-left: 10px;
}
.lineSecond {
    height: 60px;
    margin-top: -60px;
    margin-left: 10px;
}
.lineThird {
    height: 15px;
    margin-top: -15px;
    margin-left: 10px;
}
.lineFourth {
    height: 15px;
    margin-top: -15px;
    margin-left: 10px;
}
.activ-foot > a > img{
    margin-left: 8px;
    margin-bottom: 3px;
}
.af-spisock {
    height: 460px;
    margin: 0;
    padding: 15px 0 0 40px;
}
.af-spisock div{
    display: flex;
    font-size: 10pt;
}
.af-spisock li div img {
    margin-bottom: auto;
}
.af-spisock li {
    list-style-type: none;
}
.af-spisock li a {
    text-decoration: none;
    color: #4d75a3;
}
.af-cont ul {
    padding: 0 20px;
}
.af-content {
    margin-bottom: 14px;
}
.af-news {
    display: flex;
    padding: 0 0 0 10px;
    margin: 14px 0 0;
    border-left: 1px solid #4d75a3;
}
.af-otst {
    padding: 10px 0 0;
}
.af-otst a img {
    border-radius: 5px;
}
